.menu-item {
    border-width: 2px;
    border-color: rgb(107, 20, 20);
    border-style: solid;
    text-align: left;
    min-height: 100px; /* Adjust as needed */
    min-width: 100px;
}

.item-title {
    padding: 2px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.foodimage {
    width: 100%;
    min-height: 100px;
    padding:2px;

}

.menu-item-price {
    text-align: left;
    width: 100%;
}

.menu-item-title {
    text-align: left;
    width: 100%;
}