.menu-item {
    border-width: 2px;
    border-color: rgb(107, 20, 20);
    border-style: solid;
}

.item-title {
    padding: 2px;
    justify-content: space-between;
}

.foodimage {
    width: 100px;
    padding:10px;

}

.menu-item-description {
    font-size: 20px;
}

